# Global snippets
# ExtractSnipsFile(g:snippets_dir.'javascript.snippets', 'javascript')
snippet date
	`strftime("%Y-%m-%d")`
snippet cls
	class="${1}"${2}
snippet id
	id="${1}"${2}
snippet tit
	title="${1}"${2}
snippet ///
	/**
	 * ${1}
	 */${2}
snippet ---
	---
	title : ${1}
	category: ${2}
	tags : ${3}
	---
	${4}

